.cardContainer {
  .card {
    margin: 15px;
    .ant-card-body {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 24px;
      padding: 40px;
    }

    .title {
      position: absolute;
      left: 30px;
    }
    .actions {
      position: absolute;
      display: flex;
      justify-content: space-around;
      width: 10%;
      right: 15px;
    }
  }
}
