.home {
    background-color: #C1F2B0;
    position: absolute;
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .search {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .icon {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 24px;
        padding: 20px
    };
}